argcomplete==3.5.1
black==24.10.0
click==8.1.7
cocotb==1.9.2
exceptiongroup==1.2.2
find_libpython==0.4.0
flake8==7.1.1
gitdb==4.0.11
GitPython==3.1.43
iniconfig==2.0.0
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pyEDAA.ProjectModel==0.4.3
pyflakes==3.2.0
Pygments==2.18.0
pySVModel==0.3.5
pytest==8.3.3
pyTooling==8.0.3
pyuvm==3.0.0
pyVHDLModel==0.29.2
PyYAML==6.0.2
rich==13.9.4
SimplHDL==0.2.2
smmap==5.0.1
tomli==2.1.0
types-PyYAML==6.0.12.20240917
typing_extensions==4.12.2
vsg==3.27.0
